@use '../../baseScss/abstracts' as *;

.gallery-card {
  position: relative;
  overflow: hidden;
  outline: 0;

  &-img {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    transition: $mainTransition;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &-text {
    @include headingStyles;
    font-size: size(lg);
    color: color(white);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
    background-color: color(black);
    width: 100%;
    padding: 0.5rem;
    transform: translateX(200%);
    transition: $mainTransition;

    @include responsive(sm) {
      transform: translateX(0);
    }
  }

  &:hover,
  &:focus {
    .gallery-card-text {
      transform: translateX(0);
    }
  }
}
