@use '../../baseScss/abstracts' as *;

.hero {
  @include maxWidthLg;
  @include sectionSpacingSm;
  margin-top: 10rem;

  &-heading {
    @include textStyles;
    font-size: size(xxl) + 4rem;
    color: color(white);
    border: 0.1rem solid color(white);
    padding: 3rem;
    line-height: 1;
    width: 45%;
    text-transform: uppercase;
  }
}
