@use '../../baseScss/abstracts' as *;

.mobile-menu-toggle {
  outline: 0;
  border: 0;
  background-color: transparent;
  z-index: 1000;

  .mobile-menu-icon {
    font-size: size(xxl);
    color: color(white);
  }
}
