@use '../../baseScss/abstracts' as *;

.about {
  &-content {
    @include sectionSpacingLg;
    @include maxWidthLg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;

    @include responsive(md) {
      grid-template-columns: 1fr;
      text-align: center;
      @include sectionSpacingMd;
    }
  }

  &-img {
    width: 100%;

    @include responsive(md) {
      margin-bottom: 2rem;
    }
  }

  &-info {
    background-color: color(white);
    padding: 5rem;
    transform: translateX(-15rem);

    @include responsive(lg) {
      padding: 2rem;
      transform: translateX(0);
    }
  }

  &-heading {
    @include textStyles;
    font-size: size(xxl) + 2rem;
    line-height: 1;
    text-transform: uppercase;

    @include responsive(lg) {
      font-size: size(xxl) + 0.5rem;
    }

    @include responsive(md) {
      font-size: size(xxl) + 2rem;
      margin-bottom: 2rem;
    }

    @include responsive(sm) {
      font-size: size(xxl) + 0.5rem;
    }
  }

  &-desc {
    @include textStyles;
    font-size: size(sm);
    color: color(gray-200);
  }
}
