@use '../../baseScss/abstracts' as *;

.nav {
  &-content {
    @include maxWidthLg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
  }

  &-logo {
    width: 20rem;
  }
}
