@use '../../baseScss/abstracts' as *;

.gallery {
  @include maxWidthLg;
  @include sectionSpacingSm;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }

  &-heading {
    @include textStyles;
    font-size: size(xxl) + 2rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include responsive(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(sm) {
      grid-template-columns: 1fr;
    }
  }
}
