@use '../../baseScss/abstracts' as *;

.nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;

  .nav-link {
    @include headingStyles;
    font-size: size(xs);
    color: color(white);
    outline: 0;
    position: relative;

    &::before {
      content: '';
      height: 0.1rem;
      width: 100%;
      position: absolute;
      background-color: color(white);
      bottom: -0.5rem;
      transform: scale(0);
      transform-origin: center;
      transition: $mainTransition;
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }
  }
}
